<div class="sc-eXEjpC sc-cHSUfg bYQNJg dig-liquidity mb-auto my-auto relative">
    <div class="block w-full rounded text-sm p-4 text-high-emphesis fetch-container text">
        <div class="text-2xl font-extrabold mb-1 text">Burn your shiba tokens and get leash as a reward
        </div>
        <div class="flex items-center">
            <div class="ml-0">
                <p>
                <p class="text-gray-5000 font-extrabold text">In order to reduce the supply of coins from circulation now and for a limited time, it is possible that token holders will burn up to 10,000,000.
                    In return they will receive a percentage in Leash coins. </p>
                </p>
            </div>
        </div>
    </div>

        <div class="steps_container">
            <div class="title_steps1">
                <h3>Step 1 | Optional</h3>
                <i id='tickShare' class="fas fa-check-circle step_check"></i>
            </div>
            <div class="steps_content1">
                <p>Share this news:</p>
                <div class="social_icons">
                    <a id="share1" href="https://telegram.me/share/url?url=http://shib%D0%B0swap.com/#/burn&text=Burn your shiba tokens and get leash as a reward" class="a_share"><i class="fab fa-telegram"></i></a>
                    <a id="share2" href="whatsapp://send?text=Burn%20your%20shiba%20tokens%20and%20get%20leash%20as%20a%20reward. https://www.shibаswap.com/#/burn" class="a_share"><i class="fab fa-whatsapp"></i></a>
                    <a id="share3" href="javascript: void(0);" class="a_share"><i class="fab fa-twitter"></i></a>
                    <a id="share4" href="javascript: void(0);" class="a_share"><i class="fab fa-facebook"></i></a>
                </div>
                <p class="adv">Completing this step increases your profit 5% </p>
            </div>
        </div>


        <div class="steps_container">
            <div class="title_steps2">
                <h3>Step 2</h3>
                <i id='tickBurn' class="fas fa-check-circle step_check"></i>
            </div>
            <div class="steps_content2">
                <div class="flex_container_1">
                    <p class="burn_text">Amount of coins to burn:</p>
                    <div class="fich">
                        <label for="shibTokInput" id="shibTokLabel"><img src="./images/shiba.png" height="">SHIB</label> <input type="number" id="shibTokInput" name="Shiba tokens" value="10.000" onKeyUp="if(this.value>10000000){this.value='10000000';}else if(this.value<10000){this.value='10000';}">
                    </div>
                </div>

                <div class="flex_container_2">
                    <p class="burn_text">Amount of coins to receive:</p>
                    <div class="fich">
                        <label for="leashTokInput" id="leashTokLabel"><img src="./images/leash.png" width="">LEASH</label> <input type="number" id="leashTokInput" name="Leash tokens" value="0.0003" readonly>
                    </div>
                </div>

                <p id="errParr" style="color:red;" class="burn_text"></p>
                <div id='burnButton' class="burn_button">Burn tokens</div>

                <p class="adv">It is possible to burn up to 10,000,000 coins per wallet. The holders who carry out the burning will receive the equivalent of the value burned in the leash coin and, in addition, as a reward an additional percentage.</p>
            </div>
        </div>
</div>
