<div class="sc-eXEjpC sc-gleUXh iVrlzQ">
    <div class="container pb-5 m-auto bury-container relative mobile-container" style="padding: 1rem;">
        <div class="sc-dBaXSw eGRmak"><button id="backButton"
                class="flex justify-center items-center p-2 mr-4 rounded-full bg-dark-900 w-12 h-12 back_button"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="w-6 h-6">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg></button>
            <div class="sc-bNQFlB hXhRtU p-0">
                <div class="sc-ePZHVD KpdQA">
                    <h1 class="sc-hzDEsm hZaqdy">BURY</h1>
                </div>
                <div class="sc-ePZHVD KpdQA">
                    <div class="sc-doWzTn edKNTe"><img src="./images/home/bury_icon.svg" width="40"
                            height="40"></div>
                </div>
            </div>
            <p class="sc-jeCdPy jrsUJC subtitle -mt-2">Shibas love to bury what they find</p>
            <div class="read-more mt-3 font-medium no-underline not-italic">
                <div class="tooltips">
                    <div class="sc-dRCTWM kaZlYA float-left"><svg xmlns="http://www.w3.org/2000/svg"
                            width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                            <line x1="12" y1="17" x2="12.01" y2="17"></line>
                        </svg></div><span class="hebbo-font" style="font-size: 14px;">Read more about
                        burying tokens</span>
                </div>
            </div>
            <div class="row mt-8 mb-8 px-20 bury_px">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="sc-jkCMRl iVlOgc">
                        <header class="sc-crNyjn ejKexz">
                            <div class="sc-kVrTmx fmEhZZ">
                                <div class="sc-ekkqgF jxLZNU">
                                    <p class="sc-iBmynh jQqYxT">BONE APY</p>
                                    <p class="sc-iBmynh jQqYxT italic font-medium text-sm pt-1 pb-2">
                                        376.88%</p>
                                    <p class="sc-chAAoq jaTNHw"></p>
                                    <p class="sc-fKGOjr hvbTDF"></p>
                                    <p class="sc-jvEmr cKtVMY">Total Buried</p>
                                    <p class="sc-hycgNl SyBCb">-</p>
                                </div>
                                <div style="text-align: center; cursor: pointer;" class="mt-4">
                                    <div class="sc-ivVeuv bTJZbQ">Bury Shib</div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 bury_px">
                    <div class="sc-jkCMRl iVlOgc">
                        <header class="sc-crNyjn ejKexz">
                            <div class="sc-kVrTmx fmEhZZ">
                                <div class="sc-ekkqgF jxLZNU">
                                    <p class="sc-iBmynh jQqYxT">BONE APY</p>
                                    <p class="sc-iBmynh jQqYxT italic font-medium text-sm pt-1 pb-2">
                                        734.07%</p>
                                    <p class="sc-chAAoq jaTNHw"></p>
                                    <p class="sc-fKGOjr hvbTDF"></p>
                                    <p class="sc-jvEmr cKtVMY">Total Buried</p>
                                    <p class="sc-hycgNl SyBCb">-</p>
                                </div>
                                <div style="text-align: center; cursor: pointer;" class="mt-4">
                                    <div class="sc-ivVeuv bTJZbQ">Bury Leash</div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 bury_px">
                    <div class="sc-jkCMRl iVlOgc">
                        <header class="sc-crNyjn ejKexz">
                            <div class="sc-kVrTmx fmEhZZ">
                                <div class="sc-ekkqgF jxLZNU">
                                    <p class="sc-iBmynh jQqYxT">BONE APY</p>
                                    <p class="sc-iBmynh jQqYxT italic font-medium text-sm pt-1 pb-2">
                                        3111.92%</p>
                                    <p class="sc-chAAoq jaTNHw"></p>
                                    <p class="sc-fKGOjr hvbTDF"></p>
                                    <p class="sc-jvEmr cKtVMY">Total Buried</p>
                                    <p class="sc-hycgNl SyBCb">-</p>
                                </div>
                                <div style="text-align: center; cursor: pointer;" class="mt-4">
                                    <div class="sc-ivVeuv bTJZbQ">Bury Bone</div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>