    <!-- INCLUIMOS EL HEADER -->
    <%- include('./path/header.ejs'); %>
        
    <!-- CAJA DE CONTENIDO -->
    <div id='main-content' class="flex flex-col flex-1 items-center justify-start w-screen h-full overflow-y-auto overflow-x-hidden z-0 main-container-section">
        
        <!-- GENERAMOS EL CONTENIDO DINÃMICO -->

    </div>
    
    <!-- INCLUIMOS EL FOOTER -->
    <%- include('./path/footer.ejs'); %>