<div class="sc-eXEjpC sc-hXRMBi eEhUZA"></div>
          <div height="0" class="sc-eTuwsz kyVAdl">
              <div class="sc-gwVKww dylNmp"></div>
          </div>

    <div class="sc-eXEjpC sc-FQuPU gXueJQ">
    <div class="container my-auto home-container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card_styles">
            <div class="sc-kEmuub cVLZxS">
              <header class="sc-bbkauy eSxgGN">
                <div class="sc-ciodno hVafcZ">
                  <div class="sc-gGCbJM eIloTh">
                    <h1 class="sc-fihHvN dfnHCz">DIG</h1>
                  </div>
                  <div class="sc-gGCbJM eIloTh absolute top-4 right-2">
                    <div class="sc-lcpuFF jJeTSk">
                      <img
                        src="./static/media/dig_icon.7927c2f5.svg"
                        width="40"
                        height="40"
                      />
                    </div>
                  </div>
                </div>
                <p class="sc-ghsgMZ eueegI sub_title">
                  There are tons of BONES under the ground
                </p>
                <p class="sc-dznXNo iykfNe">
                  Provide
                  <span class="home_bold_title">Liquidity</span> to earn
                  BONE.
                </p>
                <a href="#/pool" class="sc-bGbJRg eXIYrW"
                  >Provide Liquidity</a
                >
              </header>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card_styles">
            <div class="sc-kEmuub cVLZxS">
              <header class="sc-bbkauy eSxgGN">
                <div class="sc-ciodno hVafcZ">
                  <div class="sc-gGCbJM eIloTh">
                    <h1 class="sc-fihHvN dfnHCz">NFTS</h1>
                  </div>
                  <div class="sc-gGCbJM eIloTh absolute top-4 right-2">
                    <div class="sc-lcpuFF jJeTSk">
                      <img
                        src="./static/media/fetchicon.b9020d17.svg"
                        width="40"
                        height="40"
                      />
                    </div>
                  </div>
                </div>
                <p class="sc-ghsgMZ eueegI sub_title mr-6 pr-5">
                  Buy, Sell and Trade 10,000 unique Shiboshis.
                </p>
                <p class="sc-dznXNo iykfNe">
                  Unique and only available on
                  <span class="home_bold_title">ShibaSwap</span>. You do
                  not want to miss this unique NFT drop!
                </p>
                <a
                  target="_blank"
                  href="https://shiboshis.shibaswap.com/"
                  class="sc-bGbJRg eXIYrW"
                  >More info</a
                >
              </header>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card_styles">
            <div class="sc-kEmuub cVLZxS">
              <header class="sc-bbkauy eSxgGN">
                <div class="sc-ciodno hVafcZ">
                  <div class="sc-gGCbJM eIloTh">
                    <h1 class="sc-fihHvN dfnHCz">BURY</h1>
                  </div>
                  <div class="sc-gGCbJM eIloTh absolute top-4 right-2">
                    <div class="sc-lcpuFF jJeTSk">
                      <img
                        src="./static/media/bury_icon.8d33b1f9.svg"
                        width="40"
                        height="40"
                      />
                    </div>
                  </div>
                </div>
                <p class="sc-ghsgMZ eueegI sub_title">
                  Shibas love to bury what they find
                </p>
                <p class="sc-dznXNo iykfNe">
                  <span class="home_bold_title">Stake</span> your tokens
                  to gain returns.
                </p>
                <a href="#/bury" class="sc-bGbJRg eXIYrW"
                  >Stake Tokens</a
                >
              </header>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card_styles">
            <div class="sc-kEmuub cVLZxS">
              <header class="sc-bbkauy eSxgGN">
                <div class="sc-ciodno hVafcZ">
                  <div class="sc-gGCbJM eIloTh">
                    <h1 class="sc-fihHvN dfnHCz">SWAP</h1>
                  </div>
                  <div class="sc-gGCbJM eIloTh absolute top-4 right-2">
                    <div class="sc-lcpuFF jJeTSk">
                      <img
                        src="./static/media/swap_icon.ff8c9b33.svg"
                        width="40"
                        height="40"
                      />
                    </div>
                  </div>
                </div>
                <p class="sc-ghsgMZ eueegI sub_title">
                  Tell your Shiba Inu to fetch new tokens
                </p>
                <p class="sc-dznXNo iykfNe">
                  <span class="home_bold_title">Swap</span> your tokens
                  for other tokens.
                </p>
                <a href="#/swap" class="sc-bGbJRg eXIYrW"
                  >Swap Tokens</a
                >
              </header>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card_styles">
            <div class="sc-kEmuub cVLZxS">
              <header class="sc-bbkauy eSxgGN">
                <div class="sc-ciodno hVafcZ">
                  <div class="sc-gGCbJM eIloTh">
                    <h1 class="sc-fihHvN dfnHCz">BONEFOLIO</h1>
                  </div>
                  <div class="sc-gGCbJM eIloTh absolute top-4 right-2">
                    <div class="sc-lcpuFF jJeTSk">
                      <img
                        src="./static/media/bonefolio_icon.8ac2bb35.svg"
                        width="40"
                        height="40"
                      />
                    </div>
                  </div>
                </div>
                <p class="sc-ghsgMZ eueegI sub_title">
                  Every Shiba Inu needs to check their stash
                </p>
                <p class="sc-dznXNo iykfNe">
                  Check your
                  <span class="home_bold_title">dogalytics.</span>
                </p>
                <a
                  target="_blank"
                  href="https://analytics.shibaswap.com/"
                  class="sc-bGbJRg eXIYrW"
                  >Analytics</a
                >
              </header>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card_styles">
            <div class="sc-kEmuub cVLZxS">
              <header class="sc-bbkauy eSxgGN">
                <div class="sc-ciodno hVafcZ">
                  <div class="sc-gGCbJM eIloTh">
                    <h1 class="sc-fihHvN dfnHCz">WOOF</h1>
                  </div>
                  <div class="sc-gGCbJM eIloTh absolute top-4 right-2">
                    <div class="sc-lcpuFF jJeTSk">
                      <img
                        src="./static/media/yield_icon.5546a444.svg"
                        width="40"
                        height="40"
                      />
                    </div>
                  </div>
                </div>
                <p class="sc-ghsgMZ eueegI sub_title">
                  Woof your returns
                </p>
                <p class="sc-dznXNo iykfNe">
                  Stake SSLP &amp;
                  <span class="home_bold_title">Claim Returns.</span>
                </p>
                <a href="#/yield" class="sc-bGbJRg eXIYrW"
                  >Farm Tokens!</a
                >
              </header>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>