<div class="sc-eXEjpC sc-cHSUfg bYQNJg dig-liquidity mb-auto my-auto relative"><button id="backButton"
        class="flex justify-center items-center p-2 mr-4 rounded-full bg-dark-900 w-12 h-12 back_button -left-12 top-6"><svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="w-6 h-6">
            <polyline points="15 18 9 12 15 6"></polyline>
        </svg></button>
    <div class="block w-full rounded text-sm p-4 text-high-emphesis fetch-container text">
        <div class="text-2xl font-extrabold mb-1 text">Liquidity provider rewards</div>
        <div class="flex items-center">
            <div class="ml-0">
                <p>
                <p class="text-gray-5000 font-extrabold text">Liquidity providers earn returns on trades
                    proportional to their share of the pool. Returns are added to the pool, accrue in
                    real time and can be claimed by withdrawing your liquidity</p>
                </p>
            </div>
        </div>
    </div>
    <div class="sc-eXEjpC gCxpvP">
        <div style="width: 100%;" class="sc-eXEjpC gnJaWy">
            <div style="margin-top: 1.8rem; margin-bottom: 1.8rem;"
                class="sc-bdVaJa sc-htpNat sc-bxivhb sc-cugefK bTKQim"><span class="sc-cMljjf egWOLy">
                    <div class="sc-gPEVay cNqGvb text font-extrabold	 css-68pfx3"
                        style="margin-top: 0.8rem; justify-self: flex-start;">Your liquidity</div>
                </span>
                <div class="sc-bdVaJa sc-htpNat sc-bZQynM sc-fnwBNb dPdccn Dig-button"><a class="text"
                        style="font-size: 1rem; background-color: transparent; color: rgb(213, 213, 213); border-radius: 0.6rem; border: 2px solid rgb(213, 213, 213); font-weight: bold; padding: 0.8rem 0.5rem 0.5rem; line-height: 10px; margin: auto; text-align: center; width: 120px; height: 40px;"
                        href="#/pool">Create a Pair</a><a class="text add_liquidity"
                        style="font-size: 1rem; background-color: rgb(213, 213, 213); color: rgb(41, 44, 55); border-radius: 0.6rem; font-weight: bold; padding: 0.8rem 0.5rem 0.5rem; line-height: 14px; margin: auto auto auto 1px; text-align: center; width: 120px; height: 40px;"
                        href="#/pool">Add Liquidity</a></div>
            </div>
            <div class="sc-bdVaJa sc-bsbRJL fCZGIA">
                <div class="sc-gPEVay dowTXn text-gray-5000 text css-1xzprt5">Connect to a wallet to
                    view your liquidity.</div>
            </div>
            <div class="sc-eXEjpC dgqqVG">
                <div style="padding: 0.5rem 0px;" class="text font-bold css-1d6204x">Don't see a pool
                    you joined? <a id="import-pool-link font-bold" class="sc-eNQAEJ jamNwP text"
                        style="color: rgb(255, 183, 60);" href="#/find">Import it.</a></div>
            </div>
        </div>
    </div>
</div>