
<div class="footer-section absolute bottom-0 w-full">
  <div
    class="
      flex flex-row flex-nowrap
      justify-between
      w-screen
      my-auto
      p-1
    "
  >
    <div class="space-x-2 mx-auto">
      <div class="inline-block">
        <a
          href="https://www.shibatoken.com/"
          target="blank"
          class="px-2 metric-semibold text-xsf font-medium"
          style="color: rgb(213, 213, 213)"
          >Website</a
        >
      </div>
      <div class="inline-block">
        <a
          href="https://t.me/shibainuthedogecoinkiller"
          target="blank"
          class="px-2 metric-semibold text-xsf font-medium"
          style="color: rgb(213, 213, 213)"
          >Telegram</a
        >
      </div>
      <div class="inline-block">
        <a
          href="https://discord.com/invite/shibatoken"
          target="blank"
          class="px-2 metric-semibold text-xsf font-medium"
          style="color: rgb(213, 213, 213)"
          >Discord</a
        >
      </div>
      <div class="inline-block">
        <a
          href="#"
          class="px-2 metric-semibold text-xsf font-medium"
          style="color: rgb(213, 213, 213)"
          >Doggy DAO</a
        >
      </div>
      <div class="inline-block">
        <a
          href="https://twitter.com/shibtoken"
          target="blank"
          class="px-2 metric-semibold text-xsf font-medium"
          style="color: rgb(213, 213, 213)"
          >Twitter</a
        >
      </div>
      <div class="inline-block">
        <a
          href="mailto:shibaswap@shibatoken.com"
          target="blank"
          class="px-2 metric-semibold text-xsf font-medium"
          style="color: rgb(213, 213, 213)"
          >Contact Us</a
        >
      </div>
      <div class="inline-block absolute right-5">
        <a
          aria-current="page"
          class="px-2 text-xsf font-medium font-semibold active"
          style="color: rgb(254, 163, 28)"
          href="#/"
          >FAQ</a
        >
      </div>
    </div>
  </div>
</div>
</div>

<script src="static/js/main.js"></script>
</body>
</html>