<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" type="image/png" href="./images/logo_shiba_swap.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="./images/logo_shiba_swap.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="./images/logo_shiba_swap.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="./images/logo_shiba_swap.png" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#ff007a" />
  <meta name="fortmatic-site-verification" content="j93LgcVZk79qcgyo" />
  <link rel="manifest" href="./manifest.json" />
  <title>HOME | ShibaSwap</title>
  <link href="./static/css/4.67493d11.chunk.css" rel="stylesheet" />
  <link href="./static/css/main.c8aaa8e5.chunk.css" rel="stylesheet" />
  <link href="./static/css/incor.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
  <style data-styled="" data-styled-version="4.4.1"></style>
  <meta name="description" content="" data-react-helmet="true" />
</head>

<body>
  <div id="root">
    <div class="flex flex-col items-start overflow-x-hidden h-screen" style="">
      <div class="flex flex-row flex-nowrap justify-between w-screen">
        <nav class="w-screen bg-transparent gradiant-border-bottom z-10">
          <div style="
                padding: 1rem;
                background: transparent none repeat scroll 0% 0%;
                border: medium none;
              " class="header">
            <div class="flex items-center justify-between h-3">
              <div class="flex items-center">
                <a aria-current="page" class="flex-shrink-0 m-l-1 nav-left-bar text-high-emphesis" href="#/"><img
                    class="h-10 w-auto logo-name" src="./static/media/shibaswap-icon.ee749b42.png" /><span
                    class="logo-text">SHIBASWAP</span></a><button class="
                      btn btn-blue btn-round
                      bold
                      nav-tvl-btn
                      inline-flex
                      items-center
                      w-full
                    ">
                  <span>TVL</span><span class="ml-2">279.63M</span>
                </button>
              </div>
              <div class="
                    flex flex-row
                    items-center
                    justify-center
                    w-full
                    p-4
                    fixed
                    left-0
                    bottom-0
                    bg-dark-1000
                    lg:relative lg:p-0 lg:bg-transparent
                    header-mobile
                  ">
                <div class="
                      flex
                      items-center
                      justify-between
                      sm:justify-end
                      space-x-2
                      w-full
                      header
                    ">
                  <div class="nav-prices">
                    <button class="
                          btn btn-blue btn-round
                          bold
                          nav-tvl-btn
                          inline-flex
                          items-center
                          w-full
                        ">
                      <span>SHIB</span><span id='priceShib' class="-ml-1">$0.000000000000</span>
                    </button>
                  </div>
                  <div class="nav-prices">
                    <button class="
                          btn btn-blue btn-round
                          bold
                          nav-tvl-btn
                          inline-flex
                          items-center
                          w-full
                        ">
                      <span>LEASH</span><span id='priceLeash' class="-ml-1">$0000.0000</span>
                    </button>
                  </div>
                  <div class="nav-prices">
                    <button class="
                          btn btn-blue btn-round
                          bold
                          nav-tvl-btn
                          inline-flex
                          items-center
                          w-full
                        ">
                      <span>BONE</span><span id='priceBone' class="-ml-1">$0.00000000</span>
                    </button>
                  </div>
                  <div id="divConnect" style='display:none!important;' class="
                        w-auto
                        flex
                        items-center
                        rounded
                        p-0.5
                        whitespace-nowrap
                        text-sm
                        font-bold
                        cursor-pointer
                        select-none
                        pointer-events-auto
                        header_space
                      ">
                    <button id="connect-wallet" class="
                          sc-bdVaJa
                          dkzats
                          sc-gzVnrw sc-gqjmRU sc-dfVpRl sc-iyvyFf
                          giUzdE
                          ml-3
                        ">
                      <p>Connect wallet</p>
                    </button>
                  </div>

                  <div id="divWallet" style='display:none!important;'
                    class="w-auto flex items-center rounded p-0.5 whitespace-nowrap text-sm font-bold cursor-pointer select-none pointer-events-auto header_space">
                    <div id="walletDiv" style='display:none!important;'
                      class="flex items-center bg-dark-1000 text-sm text-secondary btn-round bold btn btn-blue btn-round nav-tvl-btn inline-flex items-center w-full">
                      <div id="walletText"></div>
                    </div>
                  </div>

                  <div class="relative">
                    <button class="n-color-black" id="headlessui-popover-button-1" type="button" aria-expanded="false">
                      <p class="nav-menu-name">MENU</p>
                    </button>
                    <div
                      class="absolute z-10 bottom-12 md:top-12 left-full transform -translate-x-full mt-3 px-2 w-screen max-w-xs sm:px-0 m-fadeOut"
                      id="headlessui-popover-panel-2">
                      <div
                        class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden nav-menu-submenu pt-4 pb-4">
                        <div class="relative text-left">
                          <a
                            class="-m-3 p-3 block rounded-md transition ease-in-out duration-150" target="_blank"
                            href="https://github.com/shytoshikusama/woofwoofpaper/raw/main/SHIBA_INU_WOOF_WOOF.pdf"
                            rel="noreferrer">
                            <p class="nav-menu-submenu-text">WHITEPAPER</p>
                          </a>
                          <a class="-m-3 p-3 block rounded-md transition ease-in-out duration-150"
                            href="https://www.certik.org/projects/shib" target="_blank" rel="noreferrer">
                            <p class="nav-menu-submenu-text">AUDIT</p>
                          </a>
                          <a class="-m-3 p-3 block rounded-md transition ease-in-out duration-150" target="_blank">
                            <p class="nav-menu-submenu-text">DOGGY DAO</p>
                          </a>
                          <a class="-m-3 p-3 block rounded-md transition ease-in-out duration-150" target="_blank"
                          href="#/burn">
                            <p class="nav-menu-submenu-text">BURN TOKENS</p>
                          </a>
                          <a aria-current="page"
                            class="-m-3 p-3 block rounded-md transition ease-in-out duration-150 active" href="#/">
                            <p class="nav-menu-submenu-text">FAQ</p>
                          </a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>